@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #0a1628;
  --color-secondary: #faf8f5;
  --color-accent: #ca8a04;
  --color-secondary-transparent: #faf8f51a;
  --color-gold: #d4af37;
  --color-ebony: #1a1c23;
  --color-ivory: #f9f9f7;
  --color-gray-transparent: #111827cc;
  --color-dark-gray: #1f2937;
}

html,
body,
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  user-select: none;
}

@layer base {
  input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(10, 22, 40, 0.3);
    /* custom focus */
  }

  textarea:focus,
  select:focus {
    @apply outline-none;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
